<div id="user_show">
    <table class="table table-user-information table-striped">
        <thead>
        <tr>
            <td><strong>Користувач</strong></td>
            <td>Петренко Петро Петрович</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>Логін</strong></td>
            <td>pppetrovich</td>
        </tr>
        <tr>
            <td><strong>Номер</strong></td>
            <td>100</td>
        </tr>
        <tr>
            <td><strong>Роль</strong></td>
            <td>Оператор</td>
        </tr>
        <tr>
            <td><strong>Електронна адреса</strong></td>
            <td>petrovich@gmail.com</td>
        </tr>
        <tr>
            <td colspan="2" class="text-right"><button type="submit" class="btn btn-default">Редагувати</button></td>
        </tr>
        </tbody>
    </table>
</div>